<div class="contributor text-center relative">
    <p class="text-3xl leading-loose mt-5">Comic Gold Rushについて</p>
    <p class="text-sm relative">Comic Gold Rushは日常生活の中で<br>
            埋もれてしまっているかもしれない隠れた名作漫画<br>
            との出会いを提供するために作成されたアプリです<br></p>
</div>
<p class="text-3xl leading-loose mt-5 contributor text-center relative my-[3vw]">選べる2つの探し方</p>
<div class="flex">
  <div class="contributor text-center ml-auto">
    <p class="text-3xl leading-loose mt-5">キーワードから探す</p>
    <p class="text-sm relative">キーワードとジャンルを入力して検索しましょう<br>
    ヒットした漫画から隠れた名作候補を選定して表示します<br>
    処理には時間がかかる場合がありますので<br>
    気長にお待ちいただければと思います</p>
  </div>
  <div class="contributor text-center mx-auto">
    <p class="text-3xl leading-loose mt-5">探す</p>
    <p class="text-sm relative">探すボタンをクリックするだけで隠れた<br>
    名作候補を3つ見つけてきて表示します<br>
    出版社とジャンルを指定し検索することも可能です<br>
    処理には時間がかかる場合がありますので<br>
    気長にお待ちいただければと思います</p>
  </div>
</div>