<header class = "absolute top-0" style = "width: 90vw;">
<div class = "w-auto absolute right-0 my-8">
  <ul class = "flex"> 
    <li class = "mx-3.5"> 
      <%= link_to "探す", items_search_path %>
    </li>
    <li> 
      <%= link_to "キーワードから探す", items_keysearch_path %>
    </li>
    <li class = "mx-3.5"> 
      <%= link_to 'ログイン', login_path ,class: 'nav-link' %>
    </li>

  </ul>  
</div>
</header>