<footer class="bg-gray-200 body-font shadow w-full fixed bottom-0 z-0">
   <div class="md:ml-auto flex flex-wrap text-base justify-center">
    <%= link_to "プライバシーポリシー", "" ,class: "mr-5" %>
    <%= link_to "利用規約", "" ,class: "mr-5" %>
    <%= link_to "お問い合せ", "" ,class: "mr-5" %>
  </div>
</footer>