<footer class="bg-gray-200 body-font shadow w-full fixed bottom-0 z-0">
   <div class="md:ml-auto flex flex-wrap text-base justify-center">
    <%= link_to 'プライバシーポリシー', page_path('privacy'),class: "mr-5" %>
    <%= link_to '利用規約', page_path('tos'),class: "mr-5" %>
    <%= link_to "お問い合せ", "https://docs.google.com/forms/d/e/1FAIpQLSc_26brwcDx3ovLvPSBCghP8SryMwUx2GsBUZv0F76I9Rgcww/viewform?usp=sf_link" ,class: "mr-5" %>
  </div>
</footer>