<% if @followers.present? %>
  <div class="border-solid border-t-2 border-purple-900 my-3.5">
    <% @followers.each do |follower| %>
      <div class="border-solid border-2 md:border-t-0 border-purple-900">
        <div class="flex">
          <div class="block">
            <div>
              <%= follower.name %>
            </div>
          </div>
          <div>
          <% if current_user.followings.exists?(id: follower.id) %>
          フォロー済
          <% elsif follower.id != current_user.id %>
            <%= button_to "フォローする", user_relationships_path(follower.id), method: :post %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
